body{
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: #0f0;
    overflow: hidden;
}
.crt-screen {
    position: relative;
    width: 80vw;
    height: 70vh;
    padding: 20px;
    border: 4px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.3);
    inset: 0 0 20px rgba(4, 0, 255, 0.2);
    background-color: rgba(0, 20, 0 , 0.8);
    overflow: hidden;
}

/* CRT  Scarlines effect*/
.crt-screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 255, 0, 0.1) 0.1em,
    transparent 0.1em);
    background-size: 100% 0.2em;
    pointer-events: none;
}

/* Flicker animation */
@keyframes flicker {
    0%{
        opacity: 0.95;
    }
    5%{
        opacity: 0.9;
    }
    10%{
        opacity: 0.85;
    }
    15%{
        opacity: 0.92;
    }
    20%{
        opacity: 0.98;
    }
    25%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.crt-screen::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 255, 0, 0.03);
    animation: flicker 0.15s infinite;
    pointer-events: none;
}

.terminal-text {
    font-size: 1.2rem;
    line-height: 1.4;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.8);
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #0f0;
    animation: blink 1s step-end infinite;
    vertical-align: middle;
    margin-left: 2px
}
@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* CRT Glow effect */
.glow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, 
    rgba(0, 255, 0, 0.4) 0%,
    rgba(0, 255, 0, 0.1) 50%,
    rgba(0, 0, 0, 0) 70%
    );
    pointer-events: none;
}